{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}
{% block body %}
    <h2>Change your password</h2>
    {{form(form)}}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <a title="Back to my account"href="{{ path('account') }}"><i class='fas fa-angle-left' style='font-size:15px'></i> Return to My Acccount</a>
{% endblock %}
