{% extends 'base.html.twig' %}

{% block title %}Contact us{% endblock %}

{% block body %}
        <h3 class="mb-3">Contact Banazon Support</h3>
        <p>For any questions or concerns, please fill out the form below and we will get back to you as soon as possible.</p>
        {#{{form(form)}}

        {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}#}
    {# use microsoft form instead of bundle #}
    <div style="height: 80vh; overflow: hidden;">
        <iframe width="100%" height="100%" src="https://forms.office.com/Pages/ResponsePage.aspx?id=tIBwRMa5C0uS_bVDpotOl_MlwZe-2fRAok9iV-NbID9UN0tNOFY0UUkzRDUwTlpCWDAxUFk2RlVWWi4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none;"></iframe>
    </div>
{% endblock %}
