{% extends 'base.html.twig' %}

{% block body %}

    <div class="my-5 py-5 text-center">
        <span class="fs-1">404 Error</span>
        <h1 class="display-6 fw-bold">Oops! Page not found</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-muted">{{ status_code }}404 Error</p>
            <a href="{{ path('home') }}">Back to homepage</a>
        </div>
    </div>

{% endblock %}